<div  *ngIf="!pageTitile">Loading...<mat-spinner></mat-spinner></div>
<dev fxLayout="column" fxLayoutGap="10px" *ngIf="pageTitile" >
    <h1>{{ pageTitile }}</h1>
    <mat-accordion>
        <mat-expansion-panel *ngFor="let q of questions;let i = index">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Question {{ i + 1}}
                </mat-panel-title>
                <mat-panel-description>
                    {{ q.question.substring(0, 60) + "..." }}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div fxLayout="column">
                <mat-form-field appearance="fill">
                    <mat-label>Question</mat-label>
                    <textarea matInput placeholder="Вопрос" rows="5" [(ngModel)]="q.question"></textarea>
                </mat-form-field>
                <div fxFlex="30px">
                </div>
                <mat-form-field appearance="fill" *ngFor="let c of q.choices">
                    <mat-label>Answer {{i + 1}}</mat-label>
                    <textarea matInput placeholder="Вопрос" rows="4" [(ngModel)]="c.value"></textarea>
                </mat-form-field>
                <span>Correct Answer:</span>
                <mat-radio-group aria-label="Правильный Ответ" [(ngModel)]="q.answer">
                    <mat-radio-button [value]="j" *ngFor="let c of q.choices;let j = index">
                        <span>Answer {{j + 1}}</span>
                    </mat-radio-button>
                </mat-radio-group>
                <dev fxLayout="row wrap" fxLayoutAlign="center center">
                    <button mat-button (click)="addChoice(i)">
                        <mat-icon>add_circle</mat-icon>
                        <span>Add Answer</span>
                    </button>
                    <button mat-button (click)="removeChoice(i)" [disabled] ="q.choices.length === 0">
                        <mat-icon>remove_circle</mat-icon>
                        <span>Delete Last Answer</span>
                    </button>
                    
                    <button mat-button (click)="moveQuestion(i, 1)" [disabled] ="questions.length === i + 1">
                        <mat-icon>keyboard_arrow_down</mat-icon>
                        <span>Move Down</span>
                    </button>
                    <button mat-button (click)="moveQuestion(i, -1)" [disabled] ="i === 0">
                        <mat-icon>keyboard_arrow_up</mat-icon>
                        <span>Move Up</span>
                    </button>
                    <button mat-button (click)="deleteQuestion(i)">
                        <mat-icon>clear</mat-icon>
                        <span>Delete This Question</span>
                    </button>
                </dev>
            </div>
        </mat-expansion-panel>
        
    </mat-accordion>
    <dev fxLayout="row" fxLayoutAlign="start center" style="padding-bottom: 10px;" >

        <button mat-button color="accent" mat-raised-button
        *ngIf="!isSaving"
        (click)="saveQuestions()" >Save</button>
        <mat-spinner *ngIf="isSaving"></mat-spinner>
        <button mat-button (click)="addQuestion()">
            <mat-icon>add_circle</mat-icon>
            <span>Add New Question</span>
        </button>
    </dev>
</dev>